<app-header></app-header>
<p>home works!</p>
<div appHighlight [number]="num" [divisibleBy]="5">{{ num }}</div>

<select (change)="uid = sid.value" #sid>
  <option selected disabled>No value selected</option>
  <option [value]="id" *ngFor="let id of [1, 2, 3, 4]">{{ id }}</option>
</select>
Name: <input type="text" (change)="name = uname.value" #uname />
<dummy [userId]="uid" [username]="name"></dummy>
<firstuserlist></firstuserlist>

<div>
  Getter and setter section below Name:
  <br />
  Name : <input type="text" (keyup.enter)="(0)" #gsname />
  <br />
  Age: <input type="text" (keyup.enter)="(0)" #gsdob />
</div>
<app-users [name]="gsname.value" [dob]="gsdob.value"></app-users>

<departmentparent></departmentparent>
