<!-- <app-input bg="primary" [id]="phVal">
  <app-counter></app-counter>
  <label for="uname"> Email address </label>
  <input
    type="text"
    placeholder="Company email"
    (keyup.enter)="changeHandler($event)"
  />
  <small class="smallone">Your Email address</small>
</app-input>
<app-input bg="warn" [id]="phVal">
  <app-counter></app-counter>
  <label for="uname"> Password</label>
  <input
    type="password"
    placeholder="Password"
    (keyup.enter)="changeHandler($event)"
  />
  <small class="smallone">Secret......</small>
</app-input>

<app-input bg="accent" [id]="phVal">
  <app-counter></app-counter>
  <label for="uname"> Phone</label>
  <input
    type="number"
    (keyup.enter)="changeHandler($event)"
    [(ngModel)]="phVal"
  />
  <small class="smallone">Indian numbers only</small>
</app-input>

<ng-container *ngIf="isShowCon">
  <app-counter></app-counter>
</ng-container>

<ng-template #radioTemplate let-name let-n="iname">
  {{ name }}
  <input type="radio" [name]="n" />
</ng-template>

<app-temp-input
  name="gender"
  [template]="radioTemplate"
  [values]="['male', 'female', 'other', 'rev']"
>
</app-temp-input>
<div>
  <app-temp-input
    name="food"
    [template]="radioTemplate"
    [values]="['veg', 'non veg', 'mix']"
  >
  </app-temp-input>
</div>

<div>
  <button (click)="incCustom(custominp.value)">increment custom</button>
  <input type="text" placeholder="custom input" #custominp />
  <input type="checkbox" #customcheck1 (change)="changeStatus($event, 'one')" />
  <input type="checkbox" #customcheck2 (change)="changeStatus($event, 'two')" />
  <input
    type="checkbox"
    #customcheck3
    (change)="changeStatus($event, 'three')"
  />
</div>

<h3>Angular App</h3>
<section>
  <div>
    <label>Dir/File Name</label>
    <input type="text" #dir />
  </div>
  <div>
    <label>Commit </label>
    <input type="text" #msg />
  </div>
  <div>
    <button (click)="updateRepo(dir.value, msg.value)">Push Changes</button>
  </div>
</section>
<ng-template #list let-update>
  <app-list [item]="update"></app-list>
</ng-template>
<wrapper [newUpdate]="update" [listTemplate]="list">
  <small>ngStudio</small>
</wrapper>
<app-hello></app-hello>

<parent-one></parent-one> -->

<router-outlet *ngIf="!loading"></router-outlet>
<div class="facts" [ngClass]="{ hide: isHide }" *ngIf="loading">{{ fact }}</div>
<!-- https://christianlydemann.com/four-ways-to-create-loading-spinners-in-an-angular-app/ -->

<div class="container" *ngIf="loading">
  <div class="row">
    <div id="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="loading"></div>
    </div>
  </div>
</div>
