<section>
  <header>
    <h3>
      Repo Name:
      <ng-content></ng-content>
    </h3>
    <div *ngIf="newUpdate">{{ newUpdate.name }} | {{ newUpdate.msg }}</div>
  </header>

  <section id="container">
    <ng-container *ngFor="let update of newUpdate?.history">
      <ng-container
        *ngTemplateOutlet="listTemplate; context: { $implicit: update }"
      >
      </ng-container>
    </ng-container>
  </section>
  <!-- listone could also be used in place of listTemplate -->
  <!-- <ng-template #listone let-update>
    <app-list [item]="update"></app-list>
  </ng-template> -->
</section>
