.form-control{
  padding: 3px;
  margin: 5px;
  font-family: monospace;
  color: white;
  border-radius: 5px;

}
.form-control * {
  display: block;
}

.form-control{
  input{
    margin: 4px 0px;
  }
}


.primary{
  background: #3f51b5
}
.accent{
  background: #3f51b5
}
.warn{
  background: #f44
}
