<div class="header-container">
  <div [ngClass]="{ active: activeTab == 'hello' }" (click)="goToType('hello')">
    Hello
  </div>
  <div [ngClass]="{ active: activeTab == 'home' }" (click)="goToType('home')">
    Home
  </div>
  <div
    [ngClass]="{ active: activeTab == 'message' }"
    (click)="goToType('message')"
  >
    Message
  </div>
  <div [ngClass]="{ active: activeTab == 'about' }" (click)="goToType('about')">
    About
  </div>
  <div [ngClass]="{ active: activeTab == 'admin' }" (click)="goToType('admin')">
    Admin
  </div>
  <div
    routerLink="/a"
    [ngClass]="{ active: activeTab == 'a' }"
    (click)="goToType('a')"
  >
    a
  </div>
  <div [ngClass]="{ active: activeTab == 'ab' }" (click)="goToType('ab')">
    ab
  </div>
  <div
    [ngClass]="{ active: activeTab == '/user/1' }"
    (click)="goToType('/user/1')"
  >
    User 1
  </div>
  <div
    [ngClass]="{ active: activeTab == '/user/2' }"
    (click)="goToType('/user/2')"
  >
    User 2
  </div>
  <div
    [ngClass]="{ active: activeTab == '/user/3' }"
    (click)="goToType('/user/3')"
  >
    User 3
  </div>
  <div
    [ngClass]="{ active: activeTab == '/user/4' }"
    (click)="goToType('/user/4')"
  >
    User 4
  </div>
</div>
